html{
	font-size: 14px;
}

body {
    font:  "Open Sans", Helvetica, Arial, sans-serif;
	padding: 3rem;  
}

a {
    color: #00B7FF;
}

.sidebar-nav {
	margin-top: 20px;
	padding: 0;
	list-style: none;
}